@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* .growing-search {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 100px auto;
  background: white;
  border-radius: 5px;
} */

ul#growing-search-container {
  display: table;
  list-style: none;
  margin: 70px auto 0 auto;
  padding: 0;
}
ul#growing-search-container > li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
}
ul#growing-search-container > li:last-child {
  margin-right: 0;
}
ul#growing-search-container > li > span {
  margin-bottom: 10px;
}

.growing-search {
  padding: 5px 5px 5px 7px;
  border-radius: 5px;
}

.growing-search div {
  display: inline-block;
  font-size: 20px;
}

.growing-search .input input {
  margin-right: 0;
  border: none;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  text-align: center;
  transition: width 200ms;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 250px;
  color:rgb(20, 20, 20);
  border-bottom: 1px solid rgb(20, 20, 20);
  text-transform: uppercase;
  background-color:#DEDDDD;
  font-weight: bold;
}

.growing-search .input input:focus {
  width: 300px;
}

.growing-search .submit button {
  margin-left: 0;
  border: none;
  font-size: 1.15em;
  color: #85ff02;
  background-color: #f4f3ec;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 200ms;
}

.growing-search .input input:hover,
.growing-search .submit button:hover {
  cursor: pointer;
}

.growing-search .input input:focus,
.growing-search .submit button:focus {
  outline: none;
}

.growing-search .submit button:hover {
  color: #000;
}
