 @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
 *, :before, :after {
   box-sizing: border-box;
 }

 html {
   scroll-behavior: smooth;
 }

 body {
   text-align: center;
   align-items: center;
   background-color: #DEDDDD;
   margin: 0px;
 }

 .headline {
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 55px;
   color: #212529;
   position: relative;
   text-align: center;
   text-transform: uppercase;
 }

 .footer {
   position: fixed;
   text-align: center;
   bottom: 20px;
   width: 100%;
   color: rgb(256, 256, 256);
 }

 .button-container {
   font-family: "Inconsolata", monospace;
   font-size: 1.13em;
   font-weight: bold;
   display: flex;
   position: fixed;
   align-items: center;
   justify-content: center;
   bottom: 70px;
   width: 100%;
 }

 #dataList {
   font-family: "Inconsolata", monospace;
   font-size: 1.13em;
 }

 ::-moz-selection {
   color: #DEDDDD;
   background: black;
 }

 ::selection {
   color: #DEDDDD;
   background: black;
 }

 .main-content {
   font-family: 'Permanent Marker', cursive;
   font-size: 45px;
   letter-spacing: 1.2px;
   text-align: left;
   line-height: 1.5em;
   padding-top: 10px;
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 1px;
   letter-spacing: 2px;
 }

 .link {
   color: rgb(20, 20, 20);
   text-decoration: none;
 }

 .footer {
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 1.2px;
   font-size: 15px;
   color: rgb(256, 256, 256);
   z-index: 1;
 }

 .thumbnail {
   /* border: 1px solid #ddd; */
   border-radius: 7px;
   /* padding: 5px; */
   width: 250px;
   box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
 }

 li {
   /* margin: auto; */
   position: relative;
   display: block;
   margin-bottom: 5px;
   padding: 30px;
   text-align: left;
   text-transform: uppercase;
   -webkit-animation: fadeIn 0.5s linear;
   animation: fadeIn 0.5s linear;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   width: min-content;
 }

 .flex {
   list-style: none;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   justify-content: flex-start;
 }

 li:nth-child(1) {
   -webkit-animation-delay: 0.25s;
   animation-delay: 0.25s;
 }

 li:nth-child(2) {
   -webkit-animation-delay: 0.5s;
   animation-delay: 0.5s;
 }

 li:nth-child(3) {
   -webkit-animation-delay: 0.75s;
   animation-delay: 0.75s;
 }

 li:nth-child(4) {
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
 }

 li:nth-child(5) {
   -webkit-animation-delay: 1.25s;
   animation-delay: 1.25s;
 }

 li:nth-child(6) {
   -webkit-animation-delay: 1.50s;
   animation-delay: 1.50s;
 }

 li:nth-child(7) {
   -webkit-animation-delay: 1.75s;
   animation-delay: 1.75s;
 }

 li:nth-child(8) {
   -webkit-animation-delay: 2.00s;
   animation-delay: 2.00s;
 }

 li:nth-child(9) {
   -webkit-animation-delay: 2.25s;
   animation-delay: 2.25s;
 }

 li:nth-child(10) {
   -webkit-animation-delay: 2.50s;
   animation-delay: 2.50s;
 }

 @keyframes fadeIn {
   0% {
     opacity: 0;
     top: 100px;
   }
   75% {
     opacity: 0.5;
     top: 0px;
   }
   100% {
     opacity: 1;
   }
 }

 @media only screen and ( max-width: 768px) {
   .main-content {
     font-size: 35px;
   }
   .dash {
     font-size: 35px;
   }
   .link {
     color: rgb(20, 20, 20);
     text-decoration: none;
   }
   .footer {
     font-family: 'Open Sans', sans-serif;
     letter-spacing: 1.2px;
     font-size: 12px;
     color: rgb(256, 256, 256);
     z-index: 1;
   }
   
   li {
     position: relative;
     display: block;
     padding: 10px;
     text-align: left;
     text-transform: uppercase;
     -webkit-animation: fadeIn 0.5s linear;
     animation: fadeIn 0.5s linear;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
   }
   .flex {
     justify-content: center;
     padding: 0%;
   }
   
   .headline {
     font-family: 'Anton', sans-serif;
     font-size: 35px;
     color: #212529;
     position: relative;
     text-align: center;
     text-transform: uppercase;
   }
 }